@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    color: aliceblue;
    background-color: rgba(41, 41, 41, 0.8);
}
* {
    margin: 0;
}