@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    color: aliceblue;
    background-color: rgba(41, 41, 41, 0.8);
    height: 100%;
}
* {
    margin: 0;
}
#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
html {
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: aliceblue;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    size: 10px;
}

